
{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
    <div class="col-sm-9 padding-right">
        <div class="features_items"><!--features_items-->
            <h2 class="title text-center">ÖNE ÇIKAN ÜRÜNLER</h2>
            <div class="col-sm-4">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <img src="images/home/ürün1.png" alt="" />
                            <h2>25 ₺</h2>
                            <p>Profine Kitten Tavuklu Yavru Kedi Maması</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Sepete Ekle</a>
                        </div>
                        <div class="product-overlay">
                            <div class="overlay-content">
                                <h2>25 ₺</h2>
                                <p>Profine Kitten Tavuklu Yavru Kedi Maması 300gr + 300gr + 2 Konserve HEDİYE!</p>
                                <a href="product/31" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Sepete Ekle</a>
                            </div>
                        </div>
                    </div>
                    <div class="choose">
                        <ul class="nav nav-pills nav-justified">
                            <li><a href="product/31"><i class="fa fa-plus-square"></i>Ürünü incele</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <img src="images/home/ürün2.png" alt="" />
                            <h2>14 ₺</h2>
                            <p>Pooch Mutt Sensitive Somonlu Hassas Köpek Ödülü 80 Gr</p>
                            <a href="product/30" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Sepete Ekle</a>
                        </div>
                        <div class="product-overlay">
                            <div class="overlay-content">
                                <h2>14 ₺</h2>
                                <p>Bir kedinin dostluğu tonlarca ilaçtan çok daha şifalıdır 🐱</p>
                                <a href="product/30" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Sepete Ekle</a>
                            </div>
                        </div>
                    </div>
                    <div class="choose">
                        <ul class="nav nav-pills nav-justified">
                            <li><a href="product/30/"><i class="fa fa-plus-square"></i>Ürünü incele</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <img src="product/31/" alt="" />
                            <h2>111,90 ₺</h2>
                            <p>ND Pumpkin Balkabaklı Geyik Etli Elmalı Kedi Maması 1,5 Kg</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Sepete Ekle</a>
                        </div>
                        <div class="product-overlay">
                            <div class="overlay-content">
                                <h2>111,90 ₺</h2>
                                <p>ND Pumpkin Balkabaklı Geyik Etli Elmalı Kedi Maması</p>
                                <a href="product/31/" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Sepete Ekle</a>
                            </div>
                        </div>
                    </div>
                    <div class="choose">
                        <ul class="nav nav-pills nav-justified">
                            <li><a href="product/31/"><i class="fa fa-plus-square"></i>Ürünü incele</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <img src="images/home/ürün4.png" alt="" />
                            <h2>6,07 ₺</h2>
                            <p>Dreamis Balıklı Kedi Ödülü 60 Gr --Vitamin A (5.288 IU/kg), vitamin B1 (15 mg/kg)</p>
                            <a href="product/30" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Sepete Ekle</a>
                        </div>
                        <div class="product-overlay">
                            <div class="overlay-content">
                                <h2>6,07 ₺</h2>
                                <p>Dreamis Balıklı Kedi Ödülü 60 Gr</p>
                                <a href="product/30" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Sepete Ekle</a>
                            </div>
                        </div>
                        <img src="images/home/new.png" class="new" alt="" />
                    </div>
                    <div class="choose">
                        <ul class="nav nav-pills nav-justified">
                            <li><a href="#"><i class="fa fa-plus-square"></i>Ürünü incele</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <img src="images/home/ürün6.png" alt="" />
                            <h2>290,28 ₺</h2>
                            <p>Lepus Kediler İçin 3 Katlı Yuvarlak Tırmalama Seti</p>
                            <a href="product/2" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Sepete Ekle</a>
                        </div>
                        <div class="product-overlay">
                            <div class="overlay-content">
                                <h2>290,28 ₺</h2>
                                <p>Lepus Kediler İçin 3 Katlı Yuvarlak Tırmalama Seti</p>
                                <a href="product/2" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Sepete Ekle</a>
                            </div>
                        </div>
                    </div>
                    <div class="choose">
                        <ul class="nav nav-pills nav-justified">
                            <li><a href="product/3"><i class="fa fa-plus-square"></i>Ürünü incele</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <img src="images/home/ürün7.png" alt="" />
                            <h2>99,00 ₺</h2>
                            <p>Rokus Puppy Köpek Konserve Maması 24 ADET</p>
                            <a href="product/3" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Sepete Ekle</a>
                        </div>
                        <div class="product-overlay">
                            <div class="overlay-content">
                                <h2>99,00 ₺</h2>
                                <p>Rokus Puppy Yavru Köpek Konserve Maması 410 Gr 24 ADET</p>
                                <a href="product/3" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Sepete Ekle</a>
                            </div>
                        </div>
                    </div>
                    <div class="choose">
                        <ul class="nav nav-pills nav-justified">
                            <li><a href="#"><i class="fa fa-plus-square"></i>Ürünü incele</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div><!--features_items-->


        <div class="recommended_items"><!--recommended_items-->
            <h2 class="title text-center">TAVSİYE EDİLEN ÜRÜNLER</h2>

            <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <img src="images/home/recommend1.png" alt="" />
                                        <h2>27 ₺</h2>
                                        <p>Karlie Lux Papyon Toka 4,5 Cm</p>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Sepete Ekle</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <img src="images/home/recommend2.png" alt="" />
                                        <h2>20 ₺</h2>
                                        <p>Fuss Dog Köpek Askılı Kravat Turkuaz</p>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Sepete Ekle</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <img src="images/home/recommend3.png" alt="" />
                                        <h2>30,42 ₺</h2>
                                        <p>Trixie Aynalı Kuş Banyosu</p>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Sepete Ekle</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <img src="images/home/recommend4.png" alt="" />
                                        <h2>22,50 ₺</h2>
                                        <p>Eastland Deri İşlemeli Köpek Tasması</p>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Sepete Ekle</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <img src="images/home/recommend5.png" alt="" />
                                        <h2>103,50 ₺</h2>
                                        <p>Savic Trotter Köpek Taşıma Çantası</p>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Sepete Ekle</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <img src="images/home/recommend6.png" alt="" />
                                        <h2>54 ₺</h2>
                                        <p>Trixie Köpek Tarama ve Masaj Eldiveni</p>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Sepete Ekle</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div><!--/recommended_items-->

    </div>
    </div>
{% endblock %}