{% block body %}
    <div class="brands-name">
        <ul class="col-sm-5 ">
            <li><a href="#"> <span class="pull-right"></span>Bilgilerim</a></li>
            <li><a href="#"> <span class="pull-right"></span>Düzenle</a></li>
            <li><a href="#"> <span class="pull-right"></span>Siparişlerim</a></li>
            <li><a href="#"> <span class="pull-right"></span>Sepetim</a></li>
            <li><a href="#"> <span class="pull-right"></span>Favori Ürünlerim</a></li>
            <li><a href="#"> <span class="pull-right"></span>Sipariş Geçmişi</a></li>
            <li><a href="#"> <span class="pull-right"></span>Yorumlarım</a></li>
            <li><a href="{{ path('app_logout') }}"> <span class="pull-right"></span>Çıkış</a></li>
        </ul>
    </div>
{% endblock %}
